*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("ntbg.jpg");
    background-position: center center;
    background-size:max(1200px,100vw);
    background-repeat: no-repeat;
    opacity: o.44;
    height:70vh;
}
 .main .box{
    height:70vh;
    width:100%;
    opacity:0.74;
    position: absolute;
    top:0;
    background-color: black;
 } 
nav{
    margin:auto;
    height:62px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:60vw;

}
nav img{
    width:114px;
    position:relative;
    z-index:10;
}
nav div{
    position:relative;
    z-index:10;
}
.hero{
    height:76%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 29px;
    color:white;
    position:relative;
    gap:23px;
}
.hero> :first-child{
    font-weight:900;
    font-size:48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight:400px;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight:400px;
    font-size: 20px;
    text-align: center;
}
.separation{
    height:7px;
    background-color: rgb(37, 36, 36);
}
.btn{
    padding:3px 8px;
    font-weight: 400;
    border-radius: 4px;
    color:white;
    background-color: rgba(248,243,243,0.342);
}
.btn-red{
      background-color: red;
      color:white;
      padding:3px 24px;
      font-size:20px;
      border-radius:4px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.main input{
    padding:7px 101px 8px 14px;
      font-size:12px;
      font-weight:900;
      color:white;
      border-radius:4px;
      background-color: rgba(23,23,23,0.2);
      border:1px solid rgba(246,238,238,0.5);
}

.btn-red-sm{
         background-color: red;
         color:white;
}
.first{
    display:flex;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color:white;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.secImg{
    position:relative;
}
.secImg img{
    width:30vw;
    position:relative;
    z-index: 10;
}
.secImg video{
    position:absolute;
    top:51px;
    right:0;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
.first >div :nth-child(1){
    font-size:48px;
    font-weight: bolder;
}
.first >div :nth-child(2){
    font-size:24px;
    font-weight: bolder;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    color:white;
    padding:34px;
}
.faqbox:hover{
    background-color: rgb(38, 36, 36);
}
.faqbox{
    transition:all 1s ease-out;
    display:flex;
    font-size: 24px;
    background-color:#2d2d2d;
    padding:24px;
    width:40vw;
    margin: 14px auto;
    cursor:pointer;
}
.footer a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
footer{
    max-width: 60vw;
    margin: auto;
    color:white;
    padding:34px;
}
footer.question{
    padding: 34px 0 ;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color:white;
}
.item{
    display:flex;
    flex-direction: column;
    gap:23px;
}
